/*Loading spinner -number of rotations*/
/* one rotation = 1second*/
footer p, h1 {
  font-family: "Shrikhand", cursive;
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.flex-block {
  display: flex;
}
.flex-block--column {
  flex-direction: column;
}

.section {
  padding: 5%;
}
.section--darker-bg {
  background-color: #f7f7f7;
}

.image-crop {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

/* "h3" = categorie names in "menues"*/
h3 {
  font-weight: normal;
  color: #4d4d4d;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  border-radius: 25px;
  border: none;
  min-width: 150px;
  height: 40px;
  padding: 0 1.5em 0 1.5em;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  box-shadow: 5px 5px 10px #cccccc;
}
button:hover {
  opacity: 0.9;
  transition: opacity 100ms ease-in;
  box-shadow: 5px 5px 10px #999999;
  transition: box-shadow 100ms ease-in;
}

.heart .fas {
  color: transparent;
}
.heart:hover > .fas, .heart:hover .far, .heart:active > .fas, .heart:active .far {
  animation: fill 400ms forwards;
}

@keyframes fill {
  to {
    color: #9356DC;
  }
}
.fa-heart {
  font-size: x-large;
  transform: scale(1, 1.1);
}

/*
.heart {
    position: relative;
    overflow: hidden;
    .fas {
        color: transparent;
        &::after {
            content: "";
            display: block;
            padding: 0.50em;
            position: absolute;
            top: 10px;
            left: 15px;
            background: $color-gradiant;
            transform: translateY(1em);
            overflow: hidden;
        }
    }
    &:hover {
        & .fas::after {
            animation: fill 600ms forwards ease;
        }
    }

}
@keyframes fill {
    to {
        transform: translateY(0);
    }
}
*/
.cell {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 10px #cccccc;
}
.cell--rounded {
  border-radius: 20px;
}
.cell strong, .cell p {
  margin: 5px 0 0 10px;
}
.cell__new {
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  position: absolute;
  right: 6%;
  top: 6%;
  color: #2c9c81;
  background-color: #99E2D0;
}
.cell:hover {
  transform: scale(1.01);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  overflow: hidden;
  flex: 0.0001;
  transform: translateX(100%);
  transform-origin: 100%;
  transition: all 500ms ease-out;
}
.overlay i {
  transition: all 300ms ease;
  transition-delay: 200ms;
  color: white;
  transform: rotate(-270deg);
}

.overlay-container:hover .overlay {
  transform: translateX(0);
  flex: 1.5;
}
.overlay-container:hover .overlay i {
  transform: rotate(0deg);
}

/*.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $color-primary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}
*/
.load-container {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  animation: hide 0s ease-in 2s forwards;
}
@keyframes hide {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.spinner {
  border-width: 8px;
  border-style: solid;
  border-color: #9356DC #9356DC #9356DC transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 1s linear 2;
  position: relative;
  margin: 6em auto;
}
.spinner:before, .spinner:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #9356DC;
  position: absolute;
  left: 8px;
}
.spinner:before {
  top: 8px;
}
.spinner:after {
  bottom: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section.menu2 .cell:nth-child(1) {
  animation: progressive 500ms ease-in;
  animation-delay: 0.5s;
}
section.menu2 .cell:nth-child(2) {
  animation: progressive 500ms ease-in;
  animation-delay: 1s;
}
section.menu2 .cell:nth-child(3) {
  animation: progressive 500ms ease-in;
  animation-delay: 1.5s;
}
section.menu2 .cell:nth-child(4) {
  animation: progressive 500ms ease-in;
  animation-delay: 2s;
}

@keyframes progressive {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
header {
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}
header img {
  max-width: 11rem;
}
header a {
  position: absolute;
  left: 5%;
  top: 1.8em;
}
header i {
  color: #4d4d4d;
}
header i:hover {
  color: #9356DC;
  transform: scale(1.1);
}

footer {
  padding: 0.5rem 2rem 3rem 6%;
  margin-top: auto;
  color: white;
  background-color: rgba(8, 8, 8, 0.7);
}
footer p {
  margin-bottom: 1rem;
  font-size: large;
}
footer a {
  margin-top: 0.5em;
  display: flex;
}
footer a i {
  margin-right: 10px;
}

form {
  background-color: #e6e6e6;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  box-shadow: 0 20px 10px -20px #b3b3b3 inset;
  height: 4em;
}
form input {
  font-family: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
}
form input::placeholder, form input:focus {
  font-size: medium;
  font-weight: bold;
  color: #4d4d4d;
  opacity: 1;
  /*for Firefox*/
}

/*description, top of page*/
section.home1 {
  text-align: center;
}
section.home1 p {
  color: #666666;
}

/*"Fonctionnement" section*/
section.home2 .cell {
  position: relative;
  margin-left: 10px;
  background-color: #f2f2f2;
  height: 4em;
  align-items: center;
  z-index: 1;
}
section.home2 .cell i {
  margin: 20px;
  margin-left: 30px;
  color: gray;
}
section.home2 .cell strong {
  margin-bottom: 5px;
}
section.home2 .cell .circle {
  color: white;
  background-color: #9356DC;
  font-size: small;
  border-radius: 50%;
  text-align: center;
  width: 1em;
  height: 1em;
  padding: 4px;
  position: absolute;
  left: -10px;
}
section.home2 .cell::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ece1f9;
  opacity: 0;
  z-index: -1;
  border-radius: 20px;
}
section.home2 .cell:hover::after {
  opacity: 1;
}
section.home2 .cell:hover i {
  color: #9356DC;
}

section.home3 .cell {
  flex-direction: column;
  overflow: hidden;
}
section.home3 .cell :nth-child(4) {
  align-self: flex-end;
  position: relative;
  right: 6%;
  top: -2rem;
}
section.home3 .cell .image-crop {
  margin-bottom: 5px;
  height: 200px;
}
section.home3 .cell img {
  height: auto;
  position: relative;
  bottom: 30px;
  max-width: 100%;
}

section.menu1 {
  flex-direction: column;
  position: relative;
  height: 20em;
}
section.menu1 div img {
  /*image top of page*/
  width: 110%;
}
section.menu1 div + div {
  /*restaurant name layout*/
  background-color: inherit;
  border-radius: 35px 35px 0px 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}
section.menu1 div + div h1 {
  margin-left: 7%;
}
section.menu1 div + div .heart {
  margin-right: 7%;
}

section.menu2 {
  padding-top: 0;
}
section.menu2 h3 {
  padding-left: 10px;
}
section.menu2 h3:after {
  content: "";
  display: block;
  width: 2.5em;
  margin-top: 5px;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
}
section.menu2 .cell {
  overflow: hidden;
  height: 3.5em;
  justify-content: space-between;
}
section.menu2 .cell p, section.menu2 .cell strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.menu2 .cell > div:first-child {
  flex-grow: 2;
}
section.menu2 .cell div > div {
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
