@mixin box-shadow($percent) {
    box-shadow: 5px 5px 10px darken($color-background, $percent);
}

@mixin child-on-right($child, $height) {
    :nth-child(#{$child}) {
        position: absolute;
        right: $margin;
        bottom: #{$height}px;
    } 
}

@mixin scale-down {
    &:hover {
        transform: scale(0.99);
    }
}

@mixin scale-up {
    &:hover {
        transform: scale(1.01);
    }
}