@mixin box-shadow($percent) {
    box-shadow: 5px 5px 10px darken($color-background, $percent);
}

@mixin child-on-right($child) {
    :nth-child(#{$child}) {
        align-self: flex-end;
        position: relative;
        right: $margin + 1%;
        top: -2rem;
    } 
}

@mixin scale-down {
    &:hover {
        transform: scale(0.99);
    }
}

@mixin scale-up {
    &:hover {
        transform: scale(1.01);
    }
}