
@font-face { /*Added custom fonts 'Raleway'*/
	font-family: 'raleway';
	src: url('font_variable/Raleway-Italic-VariableFont_wght.ttf');
	src: url('font_variable/Raleway-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}


body { /*Applied custom font 'Raleway'*/
	font-family: 'raleway', Arial, Helvetica, serif;
}

/*Page elements*/ 

/*Footer layout*/

footer {
	background-color:#F2F2F2;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.foot-list {
	margin: 25px auto 25px 50px;
	white-space: nowrap;
}

.foot-list dt {
	font-weight: bold;
	margin-bottom: 20px;
}

.foot-list dd {
	margin-left: 0px;
	margin-bottom: 14px;
}

.foot-list a:link, a:visited {
	text-decoration: none;
	color: black;
}



/* Moblie  rules
##work in progress
*/
@media (max-width: 1024px) {
  
	footer {
		flex-direction: column;
	}
  }
