
@font-face { /*Added custom fonts 'Raleway'*/
	font-family: 'raleway';
	src: url('font_variable/Raleway-Italic-VariableFont_wght.ttf');
	src: url('font_variable/Raleway-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}

body { /*Applied custom font 'Raleway'*/
	font-family: 'raleway', Arial, Helvetica, sans-serif;
}

/*### General page layout options ###*/

body {
	min-width: 350px;
}

.flex-container {
	display: flex;
}

h1 {
	font-size: 1.3em;
	font-weight: bolder;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

/*icon mods*/

.filtre-i {
	color: #0065FC;
}

.star-blue {
	color: #0065FC;
	font-size: 0.8em;
}

.star-lgray {
	color: lightgray;
	font-size: 0.8em;
}

/*######### Header layout #########*/

header {
	margin: 30px 5% 0px 5%;
}

#header_top {
	justify-content: flex-end;
	flex-wrap: wrap-reverse;
}

#logo {
	position: absolute;
	top: 30px;
	left: 5%;
}

#subscribe {
	order: 1;
	font-weight: bolder;
	text-decoration: none;
	color: #0065FC;
}

/* Top Navigation menu */

nav {
	position: relative;
	bottom: 32px;
	right: 20px;
}

nav a {
	position: relative;
	top: 2px;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 43px 45px 20px 45px;
	border-top: 3px solid transparent;
}

nav a:hover {
	color: #0065FC;
	border-color: #0065FC;
}

/* Search box */

form label {
	font-size: 0.8em;
	background-color: #F2F2F2;
	padding: 10px 12px 10px 12px;
	border-radius: 10px 0px 0px 10px;
}

input {
	height: 35px;
}

input[type=search] {
	color: black;
	padding-left: 15px;
	box-sizing: border-box;
	border: 1px solid #F2F2F2;
	position: relative;
	right: 5px;
}

input[type=search]:focus {
	outline: none;
}

button[type=submit] {
	color: white;
	background-color: #0065FC;
	border: none;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	position: relative;
	right: 10px;
}

::placeholder {
	color: black;
	font-weight: bold;
	font-family: 'railway';
	opacity: 1; /* for Firefox */
}

#search_icon {
	display: none;
}

/* "Filtres" buttons */

#filtres {
	font-size: 1em;
	font-weight: bold;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
}

#filtres :nth-child(1) {
	margin-right: 10px;
}

#filtres div {
	flex-wrap: wrap;
}

#filtres div.filtre-cell {
	text-align: center;
	margin: 0px 15px 15px 0px;
	padding-right: 12px;
	border-radius: 50px;
	border: 2px solid lightgray;
}

#filtres div.filtre-cell:hover {
	background-color: #0065FC;
	color: white;
	border: 2px solid #0065FC;
}

.filtre-cell * {
	display: inline-block;
}

.filtre-cell i {
	margin-right: 10px;
	color: #0065FC;
	font-size: 1em;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #DEEBFF;
	padding: 16px 15px 17px 15px;
	background-color: #DEEBFF;
}

/* 'info' icon */

#i-icon {
	align-items: center;
}

i[class="fas fa-info"] {
	margin-right: 10px;
	color: #0065FC;
	font-size: 0.8em;
	border-radius: 50%;
	padding: 5px 9px 5px 9px;
	border: 1px solid lightgray;
	position: relative;
	bottom: 2px;
}


/*######### Page layout #########*/

/* general */

section {
	border-radius: 25px;
}

section * {
	text-decoration: none;
	color: black;
}

#activites, #hebergements, #populaires {
	flex-direction: column;
}

#block_page_1 {
	margin: 20px 5% 0px 5%;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

/*# cells for each respective section =
"Plus Populaires" > cell-1
"Hebergements à Marseille" > cell-2
"Activités à Marseille" > cell-3 */
.cell-1, .cell-2, .cell-3 {
	background-color: white;
	border-radius: 25px;
	box-shadow: 5px 5px 25px lightgray;
	overflow: hidden;
}

/* Section (1) "Les plus populaires" */

#populaires {
	background-color: #F2F2F2;
	width: 32%;
	padding: 15px 20px 15px 30px;
}

#titre {
	justify-content: space-between;
}

i[class="fas fa-chart-line"] {
	font-size: 1.5em;
	position: relative;
	right: 25px;
	top: 20px
}

#populaires_cells {
	flex-direction: column;
}

.cell-1 {
	margin: 20px 10px 20px 0px;
	padding: 6px;
	min-width: 255px;
	width: 95%;
}

.image-crop1 {
	float: left;
	border-radius: 20px 0px 0px 20px;
	width: 40%;
	max-width: 175px;
	height: 160px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5%;
}

.image-crop1 img {
	max-height: 260px;
	max-width: 260px;
}

#populaires_cells i {
	margin-top: 6ex;
}

/*Section (2) "Hébergements à Marseille" */

#hebergements {
	background-color: #F2F2F2;
	padding: 20px 10px 20px 20px;
	width: 60%;
}

#hebergements_cells {
	flex-wrap: wrap;
}

.cell-2 {
	margin: 20px 20px 20px 0px;
	padding: 5px;
	width: 29%;
	min-width: 240px;
}

.image-crop2 {
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 140px;
	border-radius: 20px 20px 0 0;
}

.image-crop2 img {
	max-width: 100%;
	height: auto;
}

.cell-2  h2 {
	margin: 10px 0 5px 12px;
}

.cell-2  p {
	margin: 5px 0 5px 12px;
}

.cell-2 i {
	position: relative;
	left: 12px;
}

#hebergements h2 {
	margin-top: 1.5em;
}

/* Section (3) "Activités à Marseille" */

#activites {
	margin-top: 25px;
	padding: 0px 4% 0px 4%;
}

#activites h1 {
	margin-left: 15px;
}

#activites_cells {
	flex-wrap: wrap;
}

.cell-3 {
	display: flex;
	flex-direction: column;
	margin: 15px;
	padding: 0;
}

.column {
	flex-direction: column;
	justify-content: space-between;
	max-width: 25%;
	height: 550px;
}

.image-crop3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	overflow: hidden;
}

.img-wide {
	max-width: 100%;
	height: auto;
}

#activites h2 {
	display: flex;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	margin: 0;
	align-items: center;
	padding-left: 15px;
}

/*######### Footer layout #########*/

footer {
	background-color:#F2F2F2;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 2em 5% 3% 5%;
	margin-top: 3em;
}

.foot-list {
	margin-right: auto;
	white-space: nowrap;
}

.foot-list dt {
	font-weight: bold;
	margin-bottom: 20px;
}

.foot-list dd {
	margin-left: 0px;
	margin-bottom: 14px;
}

.foot-list a:link, a:visited {
	text-decoration: none;
	color: black;
}


/*######### Responsive  rules #########

/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767.98px) {
	/*header*/
	#header_top nav {
		position: initial;
		width: 112%;
		margin-left: -6%;
		margin-right: -6%;
		justify-content: space-around;
	}
	nav a {
		width: 50%;
		padding: 20px;
		border-top: none;
		border-bottom: 3px solid #F2F2F2;
	}
	button#search_text {
		display: none;
	}
	button#search_icon {
		display: inline-block;
		border-radius: 10px;
		position: relative;
		right: 15px;
	}
	/*page sections*/
	#block_page_1 {
		margin: 0;
	}
	section {
		border-radius: 0;
	}
	#hebergements {
		background-color: white;
	}
	.cell-2 {
		width: 100%;
	}
	#populaires_cells i {
		margin-top: 9%;
	}
	#activites {
		margin-top: 0;
		padding: 15px 15px 0px 15px;
	}
	.column {
		max-width: 100%;
		height: min-content;
	}
	.cell-3 {
		height: 220px;
		margin-top: 25px;
	}
	/*footer*/
	footer {
		flex-direction: column;
	}
	
}

/* Medium devices (tablets, between 992px and 768px) */

@media (max-width: 991.98px) and (min-width: 768px) {
	#hebergements {
		margin-top: 20px;
	}
	.cell-2 {
		width: 45%;
	}
	.column {
		max-width: 50%;
	}
}

/* large devices (desktops, betwwen 1200px and 992px) */
@media (max-width: 1199.98px) and (min-width: 992px) {
	#populaires {
		padding: 15px 2% 15px 2%;
	}
	#populaires_cells {
		flex-direction: row;
	}
	#populaires_cells i {
		margin-top: 1.5em;
	}
	#hebergements {
		margin-top: 25px;
	}
	.column {
		height: 420px;
	}
}

/* Devices (desktops, tablets... less than 1200px) */
@media (max-width: 1199.98px) {
	#hebergements {
		width: 100%;
	}
	#populaires {
		width: 100%;
	}
}