
@font-face { /*Added custom fonts 'Raleway'*/
	font-family: 'raleway';
	src: url('font_variable/Raleway-Italic-VariableFont_wght.ttf');
	src: url('font_variable/Raleway-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}


body { /*Applied custom font 'Raleway'*/
	font-family: 'raleway', Arial, Helvetica, sans-serif;
}


/*### General page layout options ###*/

.flex-container {
	display: flex;
}

header, #page {
	margin: 30px 5% 0px 5%;
}

h1 {
	font-size: 1.3em;
	font-weight: bolder;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

/*icon mods*/

.filtre-i {
	color: #0065FC;
}

.star-blue {
	color: #0065FC;
	font-size: 0.9em;
}

.star-lgray {
	color: lightgray;
	font-size: 0.9em;
}


/*######### Header layout #########*/

#header_top {
	justify-content: flex-end;
}

#logo {
	position: absolute;
	top: 30px;
	left: 5%;
}

#subscribe {
	order: 1;
	font-weight: bolder;
	text-decoration: none;
	color: #0065FC;
}

/* Top Navigation menu */

nav {
	position: relative;
	top: -46px;
	margin-right: 20px;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100px;
	padding: 46px 45px 5px 45px;
	border-top: 2px solid transparent;
}

nav a:hover {
	color: #0065FC;
	border-color: #0065FC;
}

/* Search box */

form label {
	font-size: 0.8em;
	background-color: #F2F2F2;
	padding: 10px 12px 10px 12px;
	border-radius: 10px 0px 0px 10px;
}

input {
	height: 35px;
}

input[type=search] {
	color: black;
	padding-left: 15px;
	box-sizing: border-box;
	border: 1px solid #F2F2F2;
	position: relative;
	right: 5px;
}

input[type=search]:focus {
	outline: none;
}

input[type=submit] {
	color: white;
	background-color: #0065FC;
	border: none;
	border-radius: 0px 10px 10px 0px;
	padding: 0px 15px 0px 15px;
	position: relative;
	right: 10px;
}

::placeholder {
	color: black;
	font-weight: bold;
	font-family: 'railway';
	opacity: 1; /* for Firefox */
}

/* "Filtres" buttons */

#filtres {
	font-size: 1em;
	font-weight: bold;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
}

#filtres :nth-child(1) {
	margin-right: 10px;
}

#filtres div {
	flex-wrap: wrap;
}

#filtres div.filtre-cell {
	text-align: center;
	margin: 0px 15px 15px 0px;
	padding-right: 12px;
	border-radius: 50px;
	border: 2px solid lightgray;
}

#filtres div.filtre-cell:hover {
	background-color: #0065FC;
	color: white;
	border: 2px solid #0065FC;
}

.filtre-cell * {
	display: inline-block;
}

.filtre-cell i {
	margin-right: 10px;
	color: #0065FC;
	font-size: 1em;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #DEEBFF;
	padding: 16px 15px 17px 15px;
	background-color: #DEEBFF;
}

/* 'info' icon */

#i-icon {
	align-items: center;
}

i[class="fas fa-info"] {
	margin-right: 10px;
	color: #0065FC;
	font-size: 0.8em;
	border-radius: 50%;
	padding: 5px 9px 5px 9px;
	border: 1px solid lightgray;
	position: relative;
	bottom: 2px;
}


/*######### Page layout #########*/

/* general */

section * {
	text-decoration: none;
}

#activites, #hebergements{
	flex-direction: column;
}

#block_page_1 {
	flex-wrap: wrap-reverse;
}

.cell-1, .cell-2, .cell-3 {
	background-color: white;
	border-radius: 25px;
	box-shadow: 5px 5px 25px lightgray;
}

/* Section "Les plus populaires" */

#plus_populaire {
	background-color: #F2F2F2;
	flex-direction: column;
	padding: 15px;
	border: 1px solid red;
}

#titre, #titre h1 {
	display: inline-block;
	white-space: nowrap;
}

i[class="fas fa-chart-line"] {
	margin-left: 100px;
}

.cell-1 {
	margin: 20px;
	padding: 25px;
	border: 1px solid blue;
}

#plus_populaire img {
	max-width: 300px;
}

.image-crop1 {
	float: left;
	border-radius: 20px 0px 0px 20px;
	max-width: 120px;
	overflow: hidden;
	text-indent: -40px;
}

/*Section "Hébergements à Marseille" */

#hebergements {
	max-width: 70%;
	border: 1px solid red;
}

#hebergements_cells {
	flex-wrap: wrap;
}

.cell-2 {
	margin: 20px;
	padding: 25px;
	border: 1px solid blue;
}

/* Section "Activités à Marseille" */

#activites {
	border: 1px solid red;
}

#activites_cells {
	flex-wrap: wrap;
}

.cell-3 {
	margin: 5px;
	padding: 0;
	border: 1px solid blue;
}

/* colonnes pour section
.column {
	display: flex;
	flex-direction: column;
	flex: 25%;
	max-width: 25%;
}*/

/*images*/
/*TEMPORAIRE!!*/
img {
	max-width: 100%;
	max-height: 200px;
}
/*TEMPORAIRE!!*/

/*######### Footer layout #########*/

footer {
	background-color:#F2F2F2;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 5%;
}

.foot-list {
	margin-right: auto;
	white-space: nowrap;
}

.foot-list dt {
	font-weight: bold;
	margin-bottom: 20px;
}

.foot-list dd {
	margin-left: 0px;
	margin-bottom: 14px;
}

.foot-list a:link, a:visited {
	text-decoration: none;
	color: black;
}



/*######### Moblie  rules #########
##work in progress##
*/
@media (max-width: 1024px) {
	footer {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }
