button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    border-radius: 25px;
    border: none;
    min-width: 150px;
    height: 40px;
    padding: 0 1.5em 0 1.5em;
    background: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%);
    color: white;
    @include box-shadow(20%);
    &:hover {
        opacity: 0.9;
        transition: opacity 100ms ease-in;
        @include box-shadow(40%);
        transition: box-shadow 100ms ease-in;
        //background: linear-gradient(0deg, lighten($color-primary, 2%) 0%, lighten($color-secondary, 2%) 100%);
        //variant for lighten the background instead of opacity
    }
}