.cell {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    @include box-shadow(20%);
    &--rounded {
        border-radius: 20px;
    }
    h4, p {
        margin: 6px 0 0 10px;
    }
    p {
        margin-bottom: 10px;
    }
    &__new {
        border-radius: 4px;
        padding: 6px 12px 6px 12px;
        font-weight: bold;
        position: absolute;
        right: 6%;
        top: 6%;
        color: darken($color-tertiary, 35%);
        background-color: $color-tertiary;
    }
    @include scale-up;
}