.fa-heart {
    font-size: x-large;
    transform: scale(1, 1.1);
}

.heart {
    .fas {
        color: transparent;
        background: $color-gradiant-invert;
        -webkit-background-clip: text;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 200%;
    }
    &:hover {
        & .fas {
            animation: bgFadeIn 600ms ease forwards;
        }
        & .far {
            animation: fadeOut 500ms ease forwards;
        }
    }
}

@keyframes bgFadeIn {
    to {background-position: 50% 50%}
}

@keyframes fadeOut {
    0%, 70% {opacity: 0.5}
    100% {opacity: 0}
}