.heart {
    > .fas {
        display: none;
    }
    color: black;
    transition: color 600ms;
    &:hover {
        > .fas {
            display: inline-block;
        }
        > .far {
            display: none;
        }
        color: red;
    }
}

.fa-heart {
    font-size: x-large;
    transform: scale(1, 1.1);
}