
.heart {
    .fas {
        color: transparent;
    }
    &:hover, &:active {
        > .fas, .far {
            animation: fill 400ms forwards;
        }
    }
}
@keyframes fill {
    to {
        color: $color-primary;
    }
}

.fa-heart {
    font-size: x-large;
    transform: scale(1, 1.1);
}

/*
.heart {
    position: relative;
    overflow: hidden;
    .fas {
        color: transparent;
        &::after {
            content: "";
            display: block;
            padding: 0.50em;
            position: absolute;
            top: 10px;
            left: 15px;
            background: $color-gradiant;
            transform: translateY(1em);
            overflow: hidden;
        }
    }
    &:hover {
        & .fas::after {
            animation: fill 600ms forwards ease;
        }
    }
    
}
@keyframes fill {
    to {
        transform: translateY(0);
    }
}
*/