body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

.flex-block {
    display: flex;
    &--column {
        flex-direction: column;
    }
}

.section {
    padding: $margin;
    &--darker-bg {
        background-color: darken($color-background, 3%);
    }
}

.image-crop {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}