body {
    font-family: "Roboto", sans-serif;
}

h1 {
    @extend %font-shrikhand;
    font-size: 1.8em;
    font-weight: normal;
}

/* "h3" = categorie names in "menues"*/
h3 {
    font-weight: normal;
    color: $color-greyed-out;
}

/* "h4" = dishes names */
h4 {
    font-weight: bold;
    font-size: large;
}

/*
h3, h4 {
    @include query-desktop{
        flex: 0 0 100%;
    }
}*/