form { 
    background-color: darken(white, 10%);
    justify-content: center;
    align-items: center;
    color: lighten(black, 30%);
    box-shadow: 0 20px 10px -20px darken(white, 30%) inset;
    height: 4em;
    input {
        font-family: inherit;
        background-color: inherit;
        border: none;
        outline: none;
        text-align: center;
        &::placeholder, &:focus {
            font-size: medium;
            font-weight: bold;
            color: lighten(black, 30%);
            opacity: 1; /*for Firefox*/
        }
    }
}

/*description, top of page*/
section.home1 { 
    text-align: center;
    p {
        color: lighten(black, 40%);
    }
}

/*"Fonctionnement" section*/
section.home2 {
    .cell {
        position: relative;
        margin-left: 10px;
        background-color: darken(white, 5%);
        height: 4em;
        align-items: center;
        z-index: 1;
        i {
            margin: 20px;
            margin-left: 30px;
            color: lighten(black, 50%);
        }
        h4 {
            margin-bottom: 5px;
        }
        .circle {
            color: white;
            background-color: $color-primary;
            font-size: small;
            border-radius: 50%;
            text-align: center;
            width: 1em;
            height: 1em;
            padding: 4px;
            position: absolute;
            left: -10px;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: lighten($color-primary, 33%);
            opacity: 0;
            z-index: -1;
            border-radius: 20px;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
            i {
                color: $color-primary;
            }
        }
    }
    @include query-desktop{
        padding: $margin $margin-desktop $margin $margin-desktop;
    }
}

section.home3 {
    .cell {
        flex-direction: column;
        overflow: hidden;
        position: relative;
        /*first declaration=element(child number), 
        second declaration=height of element (in px, from bottom)*/
        @include child-on-right(4, 22);
        padding-bottom: 5px;
        .image-crop{
            margin-bottom: 5px;
            height: 170px;
        }
        img {
            height: auto;
            position: relative;
            bottom: 30px;
            max-width: 100%;
        }
    }
    @include query-desktop{
        .flex-block--column {
            flex-direction: row;
            .cell {
                margin-right: auto;
                width: 22%;
            }
        }
    }
}