section.menu1 {
    flex-direction: column;
    position: relative;
    height: 20em;
    div { 
        img { /*image top of page*/
            width: 110%;
        }
        + div { /*restaurant name layout*/
            background-color: inherit;
            border-radius: 35px 35px 0px 0px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            bottom: 0;
            h1 {
                margin-left: $margin + 2%;
            }
            .heart {
                margin-right: $margin + 2%;
            }
        }
    }
}

section.menu2 {
    padding-top: 0;
    h3 {
        padding-left: 10px;
        &:after {
            content:'';
            display: block;
            width: 2.5em;
            margin-top: 5px;
            border: 2px solid $color-tertiary;
            background-color: $color-tertiary;
        }
    }
    .cell {
        p, strong {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        overflow: hidden;
        height: 3.5em;
        justify-content: space-between;
        > div:first-child {
            flex-grow: 2;
        }
        div > div {
            justify-content: space-between;
        }
    }
}